<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{ifset title}{include title|stripHtml} | {/ifset}SRP</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
	<div class=container>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" n:href="Home:default">SRP</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li n:if="$user->isLoggedIn()" class="nav-item"><a class="nav-link" n:href="Sign:out">logout</a></li>
                        <li n:if="!$user->isLoggedIn()" class="nav-item"><a class="nav-link" n:href="Sign:default">login</a></li>

                    </ul>
                </div>
            </div>
        </nav>

        <div n:snippet="flashes" class="mt-3">
            <div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type, 'alert-dismissible fade show'">
                {$flash->message}
            </div>
        </div>

		{include content}
	</div>

	{block scripts}
	    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	    <script src="https://unpkg.com/nette-forms@3/src/assets/netteForms.js"></script>
	    <script src="https://unpkg.com/naja@2/dist/Naja.min.js"></script>
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
	    <script src="{$baseUrl}/main.js"></script>
	{/block}
</body>
</html>