    {block content}
    <h1 n:block=title class="mb-4">Znacky</h1>

    {snippet add}
        <a n:href="add" class="ajax" >Přidat značku</a>
    {/snippet}

    <div class="col-sm-12 col-md-6">
        <div n:snippet="ipp" class="dataTables_length">
            {control itemsPerPage}
        </div>
    </div>

    <table n:snippet="table" class="table table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">{control sorting, 'name', 'Nazev'}</th>
                <th scope="col">Akce</th>
            </tr>
        </thead>
      <tbody>
        {foreach $brands as $brand}
            <tr>
              <th scope="row">{$brand->getName()}</th>
              <td>
                <a n:href="edit id => $brand->getId()" class="ajax">edit</a> | <a n:href="delete id => $brand->getId()">delete</a>
              </td>
            </tr>
        {/foreach}
      </tbody>
    </table>

    <div class="row">
        <div class="col-sm-12">
            <div n:snippet="vp">
                {control vp}
            </div>
        </div>
    </div>

    {snippet modal}{/snippet}
