{snippet modal}
    <div class="modal fade" id="brandModal" tabindex="-1" aria-labelledby="brandModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="brandModalLabel">{$modalTitle}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {control brandEdit}
          </div>
        </div>
      </div>
    </div>

    <script n:syntax="off">
        var brandModal = new bootstrap.Modal(document.getElementById('brandModal'));
        brandModal.show();
    </script>
{/snippet}